{
    "presets": [
        "env","react"
    ],
    "plugins": [
        "transform-decorators",
        [
            "import", 
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}